.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

select{
    width: 320px;
    font-size: 20px;
    padding: 5px;
    border: 0px solid #fff;
    cursor: pointer;
}

option{
    margin-top: 5px;
    margin-bottom: 5px;
}